@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300;400;600;700&display=swap');

* {
  box-sizing: border-box;
}

*::-moz-selection {
  background-color: var(--alt--overcooked) !important;
}

*::selection {
  background-color: var(--alt--overcooked) !important;
}

body {
  font-family: 'Overpass Mono', monospace;
  line-height: 1.6;
  font-size: 16px;
  color: var(--primary);
  background-color: var(--accent);
}

h1:first-child,
h2:first-child,
p:first-child {
  margin-top: 0;
}

h1:last-child,
h2:last-child,
p:last-child {
  margin-bottom: 0;
}

h1 {
  line-height: 1.4;
  font-weight: 400;
  color: var(--primary);

  span {
    background-color: var(--accent);
  }
}

h2 {
  line-height: 1.5;
  font-weight: 600;

  span {
    background-color: var(--primary);
    color: var(--alt);
  }
}

h3 {
  text-transform: uppercase;
}

p + h1,
pre + h1,
ul + h1,
ol + h1,
p + h2,
pre + h2,
ul + h2,
ol + h2,
p + h3,
pre + h3,
ul + h3,
ol + h3 {
  margin-top: var(--big-space);
}

hr {
  margin: var(--big-space) 0 0 0;
  padding-top: var(--big-space);
  border: none;
  border-top: 1px dashed var(--primary);
}

hr + * {
  margin-top: 0;
}

pre {
  margin: var(--little-space) 0;
}

a {
  color: var(--primary);
  text-decoration: none;
  word-wrap: break-word;

  &:hover {
    text-decoration: underline;
  }
}

p {
  font-size: 1.05em;
}

p a,
:not(nav) > ul a,
:not(nav) > ol a {
  color: var(--primary);
  background-color: var(--accent);
}

:not(nav) > ul > li + li,
:not(nav) > ol > li + li {
  margin-top: 12px;
}

img {
  max-width: 100%;
}

input {
  font-family: 'Overpass Mono', monospace;
  font-size: 22px;
  padding: 15px;
  border: 2px solid var(--primary);
  color: var(--primary);
  outline: none;

  &:focus {
    border: 2px solid var(--accent);
  }
}

input[type='text'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
