// Adapted from prism.js default theme for JavaScript, CSS and HTML

code[class*='language-'],
pre[class*='language-'] {
  color: black;
  background: none;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  code[class*='language-'],
  pre[class*='language-'] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*='language-'] {
  padding: 1em;
  overflow: auto;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
  color: var(--syntax-f);
}

.token.punctuation {
  color: #999;
}

.token.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905;
  color: var(--syntax-d);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690;
  color: var(--primary);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #9a6e3a;
  color: var(--primary);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
  color: var(--syntax-b);
}

.token.module {
  color: var(--syntax-e);
}

.token.function,
.token.class-name {
  color: #dd4a68;
  color: var(--syntax-c);
}

.token.regex,
.token.important,
.token.variable {
  color: #e90;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

code[class*='language-'],
pre[class*='language-'] {
  font-family: 'Overpass Mono', monospace;
  background-color: var(--alt-color);
  text-shadow: none;
  padding: 0;
  font-size: 1rem;
}

:not(pre) > code[class*='language-'] {
  background-color: var(--alt--overcooked);
  padding: 2px 5px;
  margin: 0;
  font-weight: normal;
}

pre[class*='language-'] {
  padding: calc(var(--little-space) - 5px);
  background-color: #f7f7f7;
  border: 1px solid var(--alt--overcooked);
  box-shadow: 1px 1px 0 1px var(--alt--overcooked);
  border-radius: 2px;

  code {
    color: var(--primary);
  }
}
