:root {
  --big-space: 50px;
  --little-space: 25px;

  --primary: #253745;
  --alt: #ececec;
  --alt--overcooked: #dcdcdc;
  --alt--overcooked-and-sunburned: #b0b0b0;
  --accent: #facf90;

  --syntax-b: #60378f;
  --syntax-c: #3572a2;
  --syntax-d: #9e3461;
  --syntax-e: #2b965e;
  --syntax-f: #7a7a7a;
}

@media screen and (max-width: 600px) {
  :root {
    --big-space: 40px;
    --little-space: 20px;
  }
}
